body{
    font-family: Arial, Helvetica, sans-serif;
}
.loginContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginForm{
    width: 400px;
    height: fit-content;
    box-sizing: border-box;
    padding: 50px 50px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.submitBtnContainer{
    width: 100%;
}

.inputElements{
    width: 100%;
}

.inputbox{
    border: none;
    box-sizing: border-box;
    font-size: 1.05rem;
    padding: 10px;
    border-bottom: lightgrey 3px solid;
    outline: none;
    width: 100%;
}

.inputbox:focus{
    border-color: 	#3f63c0;
}


#signupBtn{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: grey;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#signupBtn:hover{
    background-color: #3f63c0;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.4);
}

.signuplink{
    color: darkblue;
}

#errorMessageContainer {
    display: none;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border-left: 5px solid darkred;
}

#errorMessage {
    color: white;
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}



